In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [50]:
# Texas real estate analysis
# Questions I want to answer
# 1) How long does it take for homes to sell in my area?
# 2) Are prices increasing overall? By how much?
# 3)

In [51]:
days = pd.read_csv("DaysOnZillow_City.csv")
counts = pd.read_csv("Sale_Counts_Zip.csv")
prices = pd.read_csv("Sale_Prices_Zip.csv")

In [52]:
# How long does it take for homes to sell in Texas near Major cities?

In [53]:
# Isolating just the texas data
texas_days = days.loc[days['StateName'] == "TX"]

In [67]:
# Oh man....why are there so many columns?
# I'm going to have to clean this data
texas_days.head()

,SizeRank,RegionID,RegionName,RegionType,StateName,2010-01,2010-02,2010-03,2010-04,2010-05,...,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01
3,4,39051,Houston,City,TX,141.0,142.0,143.0,120.0,95.0,...,66.0,65.0,69.0,73.0,70.0,78.0,82.0,91.0,91.0,94.0
4,5,6915,San Antonio,City,TX,100.0,103.0,116.5,115.0,109.0,...,58.0,56.0,56.0,56.0,58.0,61.0,67.0,76.0,72.0,78.0
9,10,38128,Dallas,City,TX,136.0,159.0,128.0,119.0,112.0,...,55.0,56.0,60.0,64.0,68.0,69.0,70.0,69.0,76.0,79.0
11,12,10221,Austin,City,TX,105.0,123.0,109.0,81.0,83.0,...,49.0,47.0,50.0,54.0,57.0,57.0,65.0,69.0,67.0,79.0
16,17,18172,Fort Worth,City,TX,116.5,115.0,111.0,102.5,100.0,...,47.0,49.0,48.0,48.0,51.0,54.0,61.0,60.0,71.5,73.5

In [55]:
# converting the column names past the first 5 to a list
cols = texas_days.columns[5:].tolist()

In [56]:
# using melt, condensing all of the data into three columns
cond_TX = pd.melt(texas_days, id_vars=['RegionName'], value_vars=cols)

In [57]:
# Hmmmmm....better. But I need to split the "variable" column into year and month or maybe just parse it into a date.
cond_TX.head()

    RegionName variable  value
0      Houston  2010-01  141.0
1  San Antonio  2010-01  100.0
2       Dallas  2010-01  136.0
3       Austin  2010-01  105.0
4   Fort Worth  2010-01  116.5

In [66]:
cond_TX.dtypes

RegionName            object
variable      datetime64[ns]
value                float64
dtype: object

In [59]:
# Parsing the date
cond_TX['variable'] = pd.to_datetime(cond_TX['variable'], format='%Y-%m')

In [60]:
cond_TX.dtypes

RegionName            object
variable      datetime64[ns]
value                float64
dtype: object

In [63]:
# renaming the variable column
# df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})
tx = cond_TX.rename(columns={"variable": "Year_month"})

In [70]:
tx.head(10)

       RegionName Year_month  value
0         Houston 2010-01-01  141.0
1     San Antonio 2010-01-01  100.0
2          Dallas 2010-01-01  136.0
3          Austin 2010-01-01  105.0
4      Fort Worth 2010-01-01  116.5
5         El Paso 2010-01-01  132.0
6       Arlington 2010-01-01  111.5
7  Corpus Christi 2010-01-01    NaN
8           Plano 2010-01-01  108.0
9         Lubbock 2010-01-01    NaN